.error-404-img {
  width: 80%;
  height: auto;
}

.back-home-btn-errorpage {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.error-others-img {
  width: 95%;
  height: auto;
}

@media (min-width: 600px) {
  .error-404 {
    width: 60%;
    margin-left: 250px;
  }

  .back-home-btn-errorpage {
    margin-top: 10rem;
  }
}