.header-welcome {
    text-align: center;
    margin-bottom: 0.6rem;
}


@media (min-width: 785px) {
   .root{
    width: fit-content;
   }
    .header-welcome {
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 0.6rem;
    }
}