.header-welcome {
    text-align: center;
    margin-bottom: 0.6rem;
}

#root {
    width: 100%;
    
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .contents-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap:  wrap;
   } */

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
   }


.loading {
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
@media (min-width: 785px) {
    #root {
        width: 100%;
    }

/*    .contents-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
   } */
   .nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .header-welcome {
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 0.6rem;
    }


}