.review-card {
    border: solid 3px rgb(8, 95, 95);
    padding: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.review-card:hover {
    background-color: rgba(11, 37, 46, 0.968);
    transition-duration: 0.2s;
}

.vote-comment {
    display: inline;
}

.review-image {
    width: 100%;
    height: auto;

}

.review-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}

#initialhome-options {
    display: flex;
}

#slect-category {
    margin-left: 0.4rem;
    margin-right: 0.1rem;
    padding: 0.2rem;
}

.created-at {
    margin-top: 0.4rem;
}

.category-homepage {
    color: rgb(98, 196, 164);
    font-weight: 600;
    margin-top: 0.4rem;
}

#select-sort {
    margin-right: 0.1em;
    padding: 0.2rem;
}

#more-info-btn {
    padding: 0.5em 1em;
    margin-left: 80%;
}

#more-info-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media (min-width: 600px) {
    .reviews-list {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }

    .review-card {
        border: none;
        padding: 1rem;
    }

    .review-image {
        width: 55%;
        height: auto;
    }

    #initialhome-options {

        padding: 0.4rem;
    }
}