.reviews-list{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* makes the last item stick to the left start of a new row */
/* .reviews-list::after {
    content: "";
    flex: auto;
  } */

.review-card {
    border: solid 3px rgb(8, 95, 95);
    padding: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-card:hover {
    background-color: rgba(11, 37, 46, 0.968);
    transition-duration: 0.2s;
}

.vote-comment {
    display: inline;
}

.review-image {
    width: 100%;
    height: auto;

}

.review-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}

.created-at {
    margin-top: 0.4rem;
}

.category-homepage {
    color: rgb(98, 196, 164);
    font-weight: 600;
    margin-top: 0.4rem;
}

#more-info-btn {
    padding: 0.5em 1em;
    text-align: right;
    margin: 0 auto;
    float: right;
   
}

#more-info-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}



@media (max-width: 400px) {

    .review-image {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 900px) {
    .reviews-list > div {
        flex-basis: 350px; 
      }
      
    .review-card {
        border: solid 3px rgb(8, 95, 95);
        padding: 0.5rem;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {

    .review-image {
        min-width: 520px;
        height: 350px;
    }

}