.review-card {
    border: solid 1px blue;
    padding: 1rem;
}

.review-image {
    width: 75%;
    height: auto;
}

#initialhome-options {
    padding: 0.4rem;
}

#slect-category {
    position: absolute;
    top: 110px;
    right: 239px;
}

#select-sort {
    position: absolute;
    top: 110px;
    right: 120px;
}

#select-sort {
    position: absolute;
    top: 110px;
    right: 150px;
}

#order-arrows {
    position: absolute;
    top: 112px;
    right: 80px;
}

.share-btn {
    position: absolute;
    top: 110px;
    right: 20px;
}

#more-info-btn {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: 0.45rem;
    margin-top: 0.3rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#more-info-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

#more-info-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media (min-width: 600px) {
    .reviews-list {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }

    .review-card {
        border: none;
        padding: 1rem;
    }

    .review-image {
        width: 29%;
        height: auto;
    }

    #initialhome-options {

        padding: 0.4rem;
    }
}