.single-review-image {
    width: 80%;
    height: auto;
    margin-top: 1.5rem;
}

#show-comments-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
        5px 5px 0px 0px;
    position: absolute;
    top: 7.5rem;
    right: 12.5rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#show-comments-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.back-to-review-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
        5px 5px 0px 0px;
    position: absolute;
    top: 7.5rem;
    right: 12.5rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}



.back-to-review-bt:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.show-all-review-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
        5px 5px 0px 0px;
    position: absolute;
    top: 7.5rem;
    right: 1.8rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.show-all-review-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

#thumb-up {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

#single-review-category {
    margin-left: 1rem;
}

.single-comment {
    text-align: left;
}

#comment-body-0 {
    margin-top: 3.5rem
}

@media (min-width: 40em) {
    .single-review-image {
        width: 55%;
        margin-top: 3rem;
    }

    #single-review-body {
        width: 75vw;
        margin-left: 12rem;
    }

    #show-comments-btn {
        position: absolute;
        top: 6.8rem;
        right: 25rem;
        padding: 0.25em 0.75em;
    }

    .show-all-review-btn {
        position: absolute;
        top: 6.8rem;
        right: 10rem;
        padding: 0.25em 0.75em;
    }

    .back-to-review-btn {
        position: absolute;
        top: 6.8rem;
        right: 25rem;
        padding: 0.25em 0.75em;
    }

}