.single-review-image {
    width: 95%;
    height: auto;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#single-review-options {
    margin: 0 auto;
    max-width: 335px;
}

.singlereview-cardinfo {
    margin-left: 0.7rem;
    margin-top: 0.3rem;
}

#show-comments-btn {
    margin-right: 1rem;
}

.all-comments-upper-options {
    margin: 0.7rem auto;
    max-width: 320px;
}

.back-to-review-btn {
    margin-right: 1.5rem;
}

.submit-comment-btn {
    border-radius: 50px;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.add-comment-input {
    border: 3px solid #fff;
    border-radius: 26px;
    box-sizing: border-box;
    padding: 5px 15px 7px;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
    position: relative;
}


#thumb-up {
    margin-right: 0.5rem;
}

#single-review-category {
    margin-left: 1rem;
}

.comments-container {
    margin-bottom: 0.6rem;
    border: solid 3px;
    padding: 0 0.5rem 0.3rem 0.3rem;
}

.single-comment-content {
    display: flex;

}

.single-comment-body {
    word-wrap: break-word;

}

.delete-comment-btn {
    margin-left: .2rem;
}

.single-comment-otherinfo {
    margin-top: 0.5rem;
}


@media (min-width: 40em) {
    .single-review-image {
        width: 55%;
        margin-top: 3rem;
    }

    #single-review-body {
        width: 75vw;
        margin-left: 12rem;
    }

    #show-comments-btn {
        position: absolute;
        top: 6.8rem;
        right: 25rem;
        padding: 0.25em 0.75em;
    }

    .show-all-review-btn {
        position: absolute;
        top: 6.8rem;
        right: 10rem;
        padding: 0.25em 0.75em;
    }

    .back-to-review-btn {
        position: absolute;
        top: 6.8rem;
        right: 25rem;
        padding: 0.25em 0.75em;
    }

}