:root {
  --ti-cursor-color: rgb(0, 123, 39);
  --ti-cursor-font-weight:50;
  --ti-cursor-font-size:1.1em;
  --ti-cursor-transform: translateX(0em);
  --ti-cursor-line-height:0;
}

.bg{
  background-image: url("../src/image/coding.png");
  --tw-rotate: -12deg;
  transform:  rotate(var(--tw-rotate)) ;
  background-repeat: no-repeat;
  position:fixed;
  z-index: -1;
  opacity: 0.15;
  left: 15vw;
  top: -1vw;
  width: 100vw;
  height: 100vh;
}

.landingmsg1{
  font-family: "space-grotesk-variable", sans-serif;
  font-variation-settings: "wght" 600;
  letter-spacing: -.04em;
  line-height: 1.25;
  font-size: 5.1rem;
  display: block;
  padding-top: 4rem;
  max-width: 77rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align:center;
}

.welcome-msg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: right;
  padding-top: 1.3rem;
  }

@media (max-width: 500px){
  .landingmsg1{
    font-variation-settings: "wght" 600;
    letter-spacing: -.04em;
    line-height: 1.25;
    font-size: 2.25rem;
    max-width: 24rem;
    padding-top: 6rem;
    margin-top: 1.25rem;
/*     margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    text-align:center;
  }

  .bg{
    background-image: url("../src/image/coding-smaller.png");
    left: 23vw;
    top: 18vw;
  }

  .font-semibold{
    line-height: 0;
  }

  .welcome-msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    }

    .appBarHidden{
      display: none;
    }

    html,
    body {
      overflow-x: hidden;
    }
  
}

@media (min-width: 501px) and (max-width: 1070px) {
  .landingmsg1{
    font-variation-settings: "wght" 600;
    letter-spacing: -.04em;
    line-height: 1.25;
    font-size: 4.8rem;
    max-width:100rem;
    padding-top: 7rem;
    margin-top: 1.35rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align:center;
  }

  html,
  body {
    overflow-x: hidden;
  }
 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.get-started-btn {
  animation: fadeIn 1s linear;

}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.appbarClass{
 /*  animation-name: pop-in;
  animation-duration: 1s; */
  animation: move 0.7s;
}

body  {
  background-color: rgb(11, 50, 66);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.other-buttons {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.loading {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* .css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: rgb(11, 50, 66) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
} */

/* .css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  color: #fff !important;
  box-shadow:none !important;
  font-weight: 550 !important;
  margin-top: 2.5px !important;
 
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
} */

#ncgame-button {
  font-size: 1.18rem;
}

#drawer-button{
  margin-left: -1rem;
}