body  {
  background-color: rgb(11, 50, 66);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.other-buttons {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.loading {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: rgb(11, 50, 66) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  color: #fff !important;
  box-shadow:none !important;
  font-weight: 550 !important;
  margin-top: 2.5px !important;
 
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

#ncgame-button {
  font-size: 1.18rem;
}

